/* #homepage * {border: 1px solid;} */
#homepage {
  z-index: 1;
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  flex-direction: column;
  /* background: var(--floral-white); */
  font-family: "Montserrat", sans-serif;
  transition:
    opacity 0.6s ease-in,
    transform 0.8s ease;
  transform: translateY(50px);
}
#homepage.show {
  transform: translateY(0);
  z-index: 2;
  opacity: 1;
  pointer-events: auto;
}
.homepage-title {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 8px;
  text-align: center;
}
.result-container,
.shorten-container,
.recent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  /* height: 100%; */
  padding: 16px;
}
.input-div {
  display: flex;
  border-radius: 8px;
  margin: 0 0 20px;
}
.input-div > input {
  border: 2px solid var(--slate-blue);
  border-radius: 8px 0 0 8px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.shorten-btn {
  background: var(--light-blue);
  color: var(--floral-white);
  padding: 10px 16px;
  border-radius: 0 8px 8px 0;
  letter-spacing: 1px;
  font-weight: 550;
  font-size: 0.9rem;
  max-width: 100px;
  width: 100%;
  transition: filter 0.6s ease;
}
.shorten-btn.disabled {
  filter: brightness(0.6);
}
.shorten-btn > i {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  animation: spinLoad 2s linear infinite;
}
.shorten-result-title {
  font-weight: 550;
  letter-spacing: 1px;
}
.shorten-result-title > i {
  transform: translateY(50%);
}
.shorten-result-box {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 8px;
  /* border: 1px solid var(--slate-blue);
  background: var(--slate-blue); */
  border-radius: 5px;
  border-width: 0 0 1px 5px;
  border-style: solid;
  border-color: var(--light-blue);
}
#shorten_result {
  background: linear-gradient(to top, var(--line-gray), transparent);
  color: var(--main-text);
  padding: 8px;
  min-height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
}
.copy-btn {
  font-weight: 550;
  font-size: 0.9rem;
  height: 100%;
  min-width: 100px;
  padding: 10px 8px;
  background: var(--light-blue);
  color: var(--floral-white);
}
.copy-btn > .copy-sucess {
  display: none;
}
.copy-btn.disable {
  filter: brightness(0.6);
}
.copy-btn.sucess > .copy-sucess {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.copy-btn.sucess > span {
  display: none;
}

.recent-div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.recent-title {
  padding: 4px;
  font-weight: 650;
}

.recent-item {
  border-radius: 5px;
  border-width: 0 0 1px 5px;
  border-style: solid;
  border-color: var(--light-blue);

  display: flex;
  min-height: 40px;
  justify-content: space-between;
  align-items: center;
  padding: 4px 14px;
  gap: 10px;
}

.recent-item > span {
  width: 90%;
}

.recent-btn-copy {
  position: relative;
  background: var(--light-blue);
  color: var(--floral-white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0px;
  min-width: 65px;
  min-height: 30px;
  border-radius: 8px;
}

.recent-btn-copy > span {
  width: 100%;
  font-size: 0.75rem;
}
.recent-btn-copy > * {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recent-btn-copy > :nth-child(1) {
  opacity: 1;
}
.recent-btn-copy > :nth-child(2) {
  opacity: 0;
}
.recent-btn-copy.sucess > :nth-child(1) {
  opacity: 0;
}
.recent-btn-copy.sucess > :nth-child(2) {
  opacity: 1;
}
