<div id="title_header">ShortLinks</div>
<ul class="navBar">
  <li><a href="./index.html">Inicio</a></li>
  <li><a href="./dashboard.html">Painel</a></li>
  <li><a href="./auth.html">Entrar/Cadastrar</a></li>
</ul>
<button class="mobile-menu-btn"><i class="fa-solid fa-bars"></i></button>
<aside class="mobile-menu">
  <ul class="mobile-navBar">
    <li><a href="./index.html">Inicio</a></li>
    <li><a href="./dashboard.html">Painel</a></li>
    <li><a href="./auth.html">Entrar/Cadastrar</a></li>
  </ul>
</aside>
