<div id="title_header">ShortLinks</div>
<ul class="navBar">
  <li class="href-home"><a href="./index.html">Inicio</a></li>
  <li class="href-dashboard"><a href="./dashboard.html">Painel</a></li>
  <li class="href-login"><a href="./auth.html">Entrar/Cadastrar</a></li>
  <li class="usermenu">
    <span class="user-name"></span>
    <button class="btn-logout btn-desktop">
      <i class="fa-solid fa-right-from-bracket"></i>
    </button>
  </li>
</ul>
<button class="mobile-menu-btn">
  <span class="user-name"></span>
  <i class="fa-solid fa-bars"></i>
</button>
<aside class="mobile-menu">
  <ul class="mobile-navBar">
    <li class="href-home"><a href="./index.html">Inicio</a></li>
    <li class="href-dashboard"><a href="./dashboard.html">Painel</a></li>
    <li class="href-login"><a href="./auth.html">Entrar/Cadastrar</a></li>
    <li class="btn-logout btn-li">Sair</li>
  </ul>
</aside>
