#dashboard {
  z-index: 1;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition:
    opacity 0.6s ease-out,
    transform 0.8s ease;
  transform: translateY(50px);
}
#dashboard.show {
  transform: translateY(0);
  z-index: 2;
  opacity: 1;
  pointer-events: auto;
}
.dashboard-title {
  padding: 8px;
  font-weight: 700;
  font-size: 1.7rem;
}
.panel-head {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  max-width: 600px;
}
.panel-cards {
  border: 1px solid var(--dark-30);
  padding: 12px 24px;
  border-radius: 10px;
  width: 30%;
}
.PC-title {
  font-weight: 500;
  font-size: 0.8rem;
}
.panel-cards > span {
  font-weight: 700;
  font-size: 1.5rem;
}
/* .div-table *{border: 1px solid red;} */
.header-table {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 4px;
  gap: 10px;
}
.select-div {
  display: flex;
  align-items: center;
  border: 1px solid var(--dark-30);
  border-radius: 8px;
  padding: 0 4px;
}
.select-div > label {
  display: flex;
  align-items: center;
  flex-direction: column;
}
select {
  height: 100%;
  padding: 4px;
  border: none;
}
select:focus {
  outline-style: none;
}

.refresh-table {
  border: 1px solid var(--dark-30);
  padding: 6px;
  border-radius: 12px;
}
.refresh-table > i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.refresh-table.animate-on > i {
  animation: spinLoad 1s linear infinite;
}

.input-search-table {
  border: 1px solid;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
}
.input-search-table > i {
  pointer-events: none;
  font-size: 0.9rem;
}
.input-search-table > input {
  border: none;
  width: 100%;
  height: 100%;
}
.input-search-table > input:focus {
  outline-style: none;
}
.btn-create-new-link {
  background: var(--light-blue);
  color: var(--floral-white);
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: 600;
}

#dashboard_table {
  /* max-width: 650px; */
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
}
thead > tr > :nth-child(2) {
  width: 100%;
}
th,
td {
  height: 40px;
  padding: 0 12px;
  text-align: left;
  border: 1px solid #999;
  min-width: 75px;
}
th {
  background: var(--dark-30);
}
.table-rows {
  padding: 8px 0;
  height: 40px;
}
.cell-copy-btn {
  width: 100%;
  display: flex;
  padding: 4px;
}
.btn-copy-table {
  position: relative;
  background: var(--light-blue);
  color: var(--floral-white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0px;
  width: 100%;
  max-width: 65px;
  max-height: 30px;
  border-radius: 4px;
}
.btn-copy-table > span {
  width: 100%;
  font-size: 0.7rem;
}
.btn-copy-table > * {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-copy-table > :nth-child(1) {
  opacity: 1;
}
.btn-copy-table > :nth-child(2) {
  opacity: 0;
}
.btn-copy-table.sucess > :nth-child(1) {
  opacity: 0;
}
.btn-copy-table.sucess > :nth-child(2) {
  opacity: 1;
}
tr:nth-child(even) {
  background: #e9e9e9;
}

.footer-table {
  width: 100%;
  display: flex;
  padding: 8px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: var(--floral-white);
  background-color: var(--main-text);
  border-radius: 0 0 10px 10px;
  border: 1px solid var(--dark-30);
}

.last-page,
.next-page {
  padding: 4px 8px;
  color: var(--floral-white);
  background: var(--dark-30);
  border-radius: 8px;
  border: 1px solid var(--light-blue);
}
