header {
  display: flex;
  justify-content: space-around;
  padding: 8px;
  background: var(--floral-white);
}

#title_header {
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.navBar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    max-width: 300px;
}
